Requirements
Your webpage will have to implement the features listed below. 
Note that the examples are only meant to illustrate the features. 
You do not have to make your webpage look similar to the examples. 
You just have to incorporate that feature in some form.


finished:
1, 5, 2, 3, 4, 6, 7, 8, 9, 11

10. Background Image: A section which uses a fixed-position background image - Example


12. Video: Embedded video using HTML5 video tag - Example

13. CSS3 Animations: At least one use of CSS3 animations (e.g. fade in/out, transitions)

14. At least one use of scalable vector icons through CSS (e.g. FontAwesome)

15. Inclusion of social media icons



Grading Breakdown

Layout and Overall Design - 20%
Code (follows HTML5, SASS/SCSS, ES5 or ES6 best practices) - 13%
Smooth Scrolling - 10%
Carousel - 10%
Modal - 10%
Responsiveness - 10%
Position Indicator - 5%
Navbar Resizing - 5%
Multi-column layout - 5%
CSS3 Animations - 5%
Centering - 2%
Video - 2%
Sticky Navbar - 1%
Background Image - 1%
Scalable vector icons and inclusion of social media icons - 1%