/* Your SCSS here. */
.slide {
    animation-name: slide-around;
    animation-duration: 5s;
    animation-iteration-count: 5;
    animation-direction: alternate;
}

@keyframes slide-around {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 50%;
    }
}